<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="css/signup.css"/>

</head>
<body>

<div class="signup-page">
    <div class="form">
        <form th:action="@{/signup}" method="post" class="login-form">
            <input type="text" name="username" placeholder="name"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="text" name="email" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a th:href="@{/login}">Sign In</a></p>
        </form>
    </div>
</div>
</body>
</html>